
body {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  /*margin: 0 auto;*/
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 6px #000;
  /*position: fixed;*/
  /*padding-left: 31%;
  padding-right: 30.8%;*/
}

.logo-box {
  float: left;;
  margin-left: 25px;
}

.logo {
  margin: 0;
  height: 70px;
  text-align: center;
}

/*.hero_image {
  background-image: url("images/lawyer.jpg");
  background-repeat: no-repeat;
  width: 100%;
  /*padding-top: 50%;*/
  /*background-position: top;
  background-size: cover;
}*/

main {
    background-image: url("images/lawyer.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 42%;
    color: white;
}

.main h1 {
 font-family: 'Noto Sans', sans-serif;
 font-size: 4em;
 text-align: center;
 /*margin: -4%;*/
 font-style: normal;
 color: white;
 text-shadow: 2px 2px black;
}

h1 {
    text-align: center;
    border: 5px solid #ffffff;
    width: 25%;
    margin-left: 37%;
}

ul {
  margin: 0;
  /*margin-right: 25px;*/
  padding-left: 0;
  list-style: none;
  /*float: right;*/
  height: 70px;
  line-height: 70px;
  text-align: center;
}
a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.contact {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
}

a.contact:hover {
    color: #B70A3D;
}

a.contact:visited {
  color: white;
}

li.nav a {
  color: #000;
  text-transform: uppercase;
}

li {
  display: inline-block;
  margin-left: 25px;
  transition: .5s linear;
}

li.nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #868686 ;
  transition: all 0.5s linear;
}
li a:hover:after {
  width: 100%;
}

img.lawyer {
    width: 1262px;
}

.face {
  width:17%;
  height: 100%;
  /*border: 10px solid #353996;*/
  margin-top: 4em;
  border-radius: 50%;
}

.profile {
  display: inline-flex;
  background-color: #DACFBA;
}

.bio {
  flex: 1;
  font-size: 110%;
}

p{
  padding-left: 50px;
  font-size: 110%;

}

h3 {
  padding-left: 50px;
}

h4 {
  padding-left: 50px;
}

.attorney {
  font-size: 15px;
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 2%;
  background-color: grey;
  padding-bottom: 4%;
  font-weight: 900;
}

img.icons {
    height: 77px;
    margin: 10px;
}

.icons {
  margin-left: 30%;
}

.Practice {
    box-shadow: 0 2px 6px #000;
    /*background-color: #B70A3D;
    color: #E5D4CC;*/
}

.about {
    background-color: #B70A3D;
    color: antiquewhite;
    padding-bottom: 1%;
}

img.banner {
    width: 100%;
}

li.bullets {
    display: list-item;
    margin-left: 10%;
}

li.documents {
    margin-left: 10%;
    display:list-item;

}

.Contact {
    position: fixed;
    font-family: 'Noto Sans', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.Contact:target {
    opacity:1;
    pointer-events: auto;
}
.Contact > div {
    width: 460px;
    position: relative;
    margin: 12% auto;
    padding: 5px 20px 1px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 28px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

a.close {
    font-size: 20px;
    bottom: 92%;
}

img.phone {
    height: 50px;
    display: inherit;
}

.call_me {
    display: -webkit-box;
    margin-left: 10%;
    margin-top: 13%;
}

a.call {
    margin: 10px;
}

img.mail {
    height: 50px;
    display: inherit;
}

.email_me {
    display: -webkit-box;
    margin-left: 10%;
}

a.mailto {
    margin: 10px;
}


a.docs {
    color: #B70A3D;
}

/*.gavel {
  float: right;

}*/

img.gavel {
    margin-top: 36%;
}

img.image2 {
    width: 75%;
    border-radius: 50%;
    float: right;
    margin-top: 44%;
    margin-right: 4%;
}
.flex-container {
  height: auto;
  display: flex;
  flex-flow: row;
  padding-bottom: 0%;
  justify-content: space-between;
}
.parent {
  margin: 0;
  padding-top: 0;
  /*width: 30%;*/

}

.child {
    width: 30%;
}
.definition {
  box-shadow: 0 2px 6px #000;
}

.definition {
    box-shadow: 0 2px 6px #000;
    background: #B70A3D;
    color: antiquewhite;
}

.minor {
    background: #f4f4f4;
}

p.define {
    padding-right: 1%;
}

.guard {
    box-shadow: 0 2px 6px #000;
    background: #B70A3D;
    color: antiquewhite;
    padding-top: 1%;
    margin-top: -4px;
    padding-bottom: 2%;
}

img.pledge {
    margin-left: 37%;
    margin-top: 11%;
}

.need {
    background-color: #F5F5E9;
    padding-bottom: 4%;
}

img.adv {
    width: 160%;
    margin-top: 10%;
}

.ga {
    width: 84%;
    margin-left: 10%;
}

img.paper {
    width: 117%;
    margin-top: 21%;
}

.process {
    width: 97%;
}

.will {
    box-shadow: 0 2px 6px #000;
    background: #B70A3D;
    color: antiquewhite;
    padding-bottom: 2%;
    padding-top: 25px;
    margin-top: -2%;
  }

  img.terms {
      width: 60%;
  }

  .ad {
      box-shadow: 0 2px 6px #000;
      background: #B70A3D;
      color: antiquewhite;
      padding-bottom: 2%;
      padding-top: 25px;
      margin-top: -2%;
    }

img.advance {
      margin-top: 18%;
      border-radius: 10%;
      box-shadow: 0 2px 6px #000;
      margin-left: 10%;
    }

.directive {
      width: 95%;
  }

  img.care {
      width: 96%;
      margin-top: 40%;
      border-radius: 50%;
      border: 2px solid;
      box-shadow: 0 2px 6px #000;
  }

.advdir {
  background-color: #f4f4f4;
}
 .power {
     box-shadow: 0 2px 6px #000;
     background: #B70A3D;
     color: antiquewhite;
     padding-bottom: 2%;
     padding-top: 25px;
     margin-top: -2%;
   }

  img.judge {
      width: 50%;
      border-radius: 47%;
      margin-top: -6%;
      border: 5px solid #CF5933;
   }


span.footer {
       margin-right: 2%;
       margin-left: 1%;
   }
